
#iframeContainer {
    top: 40%;
    display: flex; 
    flex-direction: column; 
    min-height: calc(100vh - 50px); 
  }
  
  #contentFrame {
    flex-grow: 1; 
    border: none; 
  }
  .btn-secundary{
   
    background-color: red;
  }
  .btn-primary{
    background-color: blue;
  }
  
  .new{
    position: relative;
    float: right;
    height: 43px;
    color: green;
  }
  
  
  #iframeContainer {
    width: 100%;
  
  }
  
  #iframeContainer .iframe {
    width: 100%;
    border: none;
  }
  
  
  .btn-close{
    background-color: red;
  }
  
  button[name="btnAgregar"]:hover {
    /* Estilos al pasar el mouse sobre el botón */
    background-color: #1ed30e; /* Color de fondo más oscuro */
  }
  
  button[name="btnCloced"]:hover{
    background-color: red;
  }
  
  .ui-autocomplete{
    z-index: 9999 !important;
   }
   .contenedor-botones-personalizados > .btn {
    background-color: transparent;
    border: none;
    color: blue;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
}

.filtro {
  display: flex; /* Enable Flexbox for the container */
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 1rem; /* Add some margin for spacing */
}

.filtro label {
  display: block; /* Make labels block elements */
  margin-bottom: 0.5rem; /* Add space between labels and inputs */
}

.filtro input {
  width: 100%; /* Make inputs full width */
  padding: 0.5rem 1rem; /* Add padding to inputs */
  border: 1px solid #ccc; /* Add border to inputs */
  border-radius: 4px; /* Add rounded corners to inputs */
}

.button-container {
  float: right;
}