<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estyle.css">
</head>

<body>

    <div class="container">


        <!-- Button trigger modal -->
        <br>
        <div class="inicio">
            <div class="contenedor-botones-personalizados d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary me-md-2" href="/View/Cliente_guardar.html">Cliente</a>
            </div>
        </div>

        <legend>Cliente</legend>
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="filtar_nombre">Filtrar por Nombre:</label>
                        <input type="text" class="form-control" name="filtar_nombre" id="filtar_nombre" value=""
                            required placeholder="Ingresar el Nombre">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="filtar_ciudad">Filtrar por Ciudad:</label>
                        <input type="text" class="form-control" name="filtar_ciudad" id="filtar_ciudad" value=""
                            required placeholder="Ingresar la Ciudad">
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="filtar_estado">Filtrar por Estado:</label>
                        <input type="text" class="form-control" name="filtar_estado" id="filtar_estado" value=""
                            required placeholder="Ingresar el Estado">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br></br>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <!-- Aquí puedes agregar contenido si lo deseas -->
            </div>
            <div class="col-md-6 d-md-flex justify-content-md-end">
                <button name="btnAgregar" id="btnAgregar" class="btn btn-primary me-md-2" type="button">Aplicar Filtros</button>
                <button name="btnAgregar" id="btnAgregar" class="btn btn-secondary" type="button">Limpiar</button>
            </div>
        </div>
    </div>
    <br></br>
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">tipo_identificacion</th>
                <th scope="col">identificacion</th>
                <th scope="col">nombre_cliente</th>
                <th scope="col">apellido_cliente</th>
                <th scope="col">telefono</th>
                <th scope="col">direccion</th>
                <th scope="col">ciudad</th>
                <th scope="col">estado</th>
                <th scope="col">Actions</th>


            </tr>
        </thead>
        <tbody class="table-group-divider" id="resultData">

        </tbody>
    </table>

    </div>
    <script src="/JS/Cliente.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        loadData();
    </script>

</body>

</html>