<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Navbar</title>
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>
<body>
    <div class="navbar">
        <a href="/View/navbar.html" class="active">Shoes Store</a>
        <a href="/View/Cliente.html">Cliente</a>
        <a href="/View/Productos.html">Productos</a>
        <a href="/View/Ventas.html">Ventas</a>
        <a href="/View/Descripcion_ventas.html">Description Ventas</a>
    </div>
</body>
</html>
